@import url(../fonts/fontsFace.css);
/* font size & line height in px */
/* calculate font-size (in %) and line-height (in em) */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media all {
  body {
    font-family: 'rubiklight';
    font-size: pc(14, 16);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    padding: 0;
    margin: 0;
    text-transform: lowercase;
    color: #777777;
  }
  .header-hero {
    background-color: #23D16A;
    background-image: url(../images/header.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    height: calc(100vh - 50px);
    text-transform: lowercase;
    font-family: 'rubikmedium';
    position: relative;
  }
  .header-hero .header-hero-contentBlock {
    max-width: 500px;
    position: absolute;
    bottom: 10%;
    left: 25%;
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  .header-hero .header-hero-contentBlock .subheading {
    font-family: 'rubikregular';
    color: #FFFFFF;
    margin-bottom: 1.14286rem;
    display: block;
  }
  .header-hero .header-hero-contentBlock h1 {
    font-size: 4.28571rem;
    font-family: 'rubikmedium';
    color: #FFFFFF;
    margin-top: 0;
    font-weight: normal;
  }
  .header-hero .header-hero-contentBlock .action-block {
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .header-hero .header-hero-contentBlock .reviews {
    font-size: 1.71429rem;
    color: #0d4e28;
    border-bottom: 4px solid #0d4e28;
  }
  .header-hero .header-hero-contentBlock .reviews .stars {
    font-size: 12px;
  }
  .header-hero .header-hero-contentBlock .reviews .stars img {
    font-size: 12px;
    height: 20px;
    vertical-align: top;
  }
  .header-hero .new-Alert {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 350px;
    background-color: #FFFFFF;
    border-radius: 0px 50px 50px 50px;
    padding: 5px;
    -webkit-box-shadow: 1px 3px 2px #42B564;
            box-shadow: 1px 3px 2px #42B564;
  }
  .header-hero .new-Alert .title {
    color: #42B564;
    font-size: 1.28571em;
  }
  .header-hero .new-Alert p {
    padding: 5px 20px 5px 30px;
    font-size: 1.14286em;
    font-family: 'rubiklight';
  }
  .btn {
    border: 1px solid transparent;
    font-size: 1.42857rem;
    min-width: 150px;
  }
  .btn-white {
    border-radius: 50px;
    background-color: #FFFFFF;
    color: #23D16A;
    padding: 15px 20px;
    border: none;
  }
  .navbar-toggle {
    float: left;
    content: 'f0c9';
  }
  .nav-container {
    text-align: center;
  }
  .nav-container #logo {
    width: calc(100% - 50px);
    float: left;
    text-align: center;
  }
  .nav-container #logo svg {
    width: 100px;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    margin: 6px auto;
  }
  .nav-container #top-right {
    float: right;
    position: absolute;
    right: 0;
  }
  .nav-container #top-right .search-icon {
    float: left;
    cursor: pointer;
  }
  .nav-container #top-right .search-icon svg {
    width: 28px;
    margin-top: 16px;
    margin-right: 7px;
  }
  .nav-container #top-right .search-icon svg .a {
    fill: #707070;
  }
  .nav-container #top-right .btn_group {
    float: left;
  }
  .nav-container #top-right .btn_group .btn-black {
    background-color: #464646;
    color: #FFFFFF;
  }
  .nav-container #top-right .cart-item {
    float: right;
    padding: 15px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
  }
  .nav-container #top-right .cart-item .badge {
    background: #23D16A;
    position: absolute;
    right: 0;
    top: 7px;
  }
  .nav-container #top-right .cart-item svg {
    width: 24px;
  }
  .nav-container #top-right .cart-item svg .a {
    fill: #b2b2b2;
  }
  section {
    margin-top: 2.85714em;
    height: auto;
    clear: both;
  }
  .section_content {
    width: 60%;
    margin: 2.14286em auto;
    line-height: 1.57143em;
    margin-top: -12.5px;
    text-align: center;
    font-family: 'rubiklight';
    font-style: normal;
    font-weight: lighter;
    font-size: 1.28571em;
    color: #777777;
    letter-spacing: -0.2px;
  }
  .sub-heading, .making_delivery_convenient___simple_ .section-heading, .section-heading, .delivery_pickup h2 {
    font-family: 'rubikmedium';
    font-size: 2.5em;
    margin-bottom: 0.71429em;
    color: #464646;
    text-transform: lowercase;
  }
  .media-middle img {
    width: 75px;
    margin-right: 15px;
  }
  .making_delivery_convenient___simple_ {
    text-transform: lowercase;
    font-size: 1.14286em;
  }
  .making_delivery_convenient___simple_ .section-heading {
    text-align: left;
  }
  .making_delivery_convenient___simple_ .H-icons-block {
    overflow: hidden;
  }
  .making_delivery_convenient___simple_ .H-icons-block .H-icons {
    width: 100px;
    min-height: 100px;
    margin: 0 15px;
    float: left;
    text-align: center;
  }
  .making_delivery_convenient___simple_ .H-icons-block .H-icons img {
    width: 50px;
    margin-bottom: 15px;
  }
  .making_delivery_convenient___simple_ .H-icons-block .H-icons p {
    padding: 0;
  }
  .green_text {
    color: #23D16A;
    margin: 1.42857em 0;
    font-size: 1.14286em;
  }
  .review_heading {
    color: #464646;
    font-weight: bold;
    border-bottom: 2px solid #0d4e28;
    margin-bottom: 15px;
  }
  .review_heading .review_button_control {
    float: right;
  }
  .review_heading .review_button_control button {
    background: none;
    border: none;
  }
  .review_block-container {
    width: 100%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
  }
  .review_block-container .review_block {
    display: inline-block;
    width: 273px;
  }
  .review_block-container .review_block:before {
    content: attr(data-before);
    position: absolute;
    margin-left: -90px;
    margin-top: 2px;
    font-size: 0.85714em;
  }
  .review_block-container .review_block .review_star img {
    height: 15px;
  }
  .review_block-container .review_block .review_text {
    font-style: italic;
    font-style: 1.14286em;
    margin: 10px 0;
  }
  .review_block-container .review_block .review_author {
    font-weight: bold;
  }
  .delivery_option {
    background: url(../images/pk-1-01.svg);
    background-size: 100%;
    overflow: hidden;
  }
  .delivery_option .bg {
    width: 100%;
    position: absolute;
    left: 0;
  }
  .delivery_option .bg img {
    width: 100%;
  }
  .delivery_option .delivery_option-content {
    position: relative;
  }
  .delivery_option .delivery_option-heading {
    text-align: center;
    padding-top: 1.42857em;
    padding-bottom: 1.42857em;
  }
  .delivery_option .delivery_option-heading h2 {
    color: #23D16A;
    font-size: 2.14286em;
  }
  .delivery_option .delivery_option-heading p {
    font-size: 1.42857em;
  }
  .delivery_option .thumbnail {
    position: relative;
    background: none;
    border: none;
  }
  .delivery_option .thumbnail .caption {
    color: #FFFFFF;
  }
  .delivery_option .thumbnail .caption h3 {
    width: 200px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: absolute;
    z-index: 1;
    margin-top: -150px;
    color: #FFFFFF;
    font-size: 2.14286em;
    text-align: center;
    font-weight: bold;
  }
  .btn {
    border-radius: 25px;
    padding: 10px;
    margin: 5px 7px;
  }
  .btn-green {
    background-color: #23D16A;
    color: #FFFFFF;
  }
  .subscribe_block, .newsletter_block {
    margin: 3.57143em 0;
    padding: 1.07143em 0;
    background-color: #F4F4F4;
    text-align: center;
    font-size: 1.14286em;
  }
  .subscribe_block .btn, .newsletter_block .btn {
    font-size: 1.14286em;
    padding-left: 25px;
    padding-right: 25px;
  }
  .what_popular {
    margin-top: 2.85714em;
  }
  .what_popular .thumbnail {
    border: none;
  }
  .what_popular h3 {
    font-size: 1.14286em;
    margin-top: 0.35714em;
    margin-bottom: 0.35714em;
    min-height: 2.85714em;
  }
  .newsletter_block {
    background-color: #23D16A;
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .newsletter_block .label {
    font-weight: normal;
  }
  .newsletter_block .form-control {
    width: 300px;
    margin-left: 0.71429em;
    border-radius: 23px;
    border: 1px solid transparent;
  }
  .newsletter_block img {
    width: 28px;
  }
  footer h3 {
    color: #23D16A;
    font-weight: bold;
  }
  footer .faq_label {
    color: #23D16A;
    margin-top: 5px;
  }
  footer .social_media img {
    height: 24px;
    margin: 0 15px 0 0;
  }
  footer .instagram_block img {
    width: 200px;
  }
  footer ul {
    list-style: none;
    padding: 0;
  }
  footer ul a {
    color: #777777;
  }
  footer .copyright {
    background: #464646;
    color: #FFFFFF;
    padding: 15px;
  }
  .navbar {
    margin: 0;
  }
  .media-body, .media-left, .media-right {
    vertical-align: middle;
    color: #464646;
  }
  .media-body .media-heading, .media-left .media-heading, .media-right .media-heading {
    font-size: 1.71429em;
  }
  .media-body p, .media-left p, .media-right p {
    font-size: 1.07143em;
  }
  #carousel-example-generic {
    margin-top: -100px;
  }
  .carousel-control {
    color: #23D16A;
  }
  .carousel-control.left,
  .carousel-control.right {
    background-image: none;
  }
  .carousel-control.left img,
  .carousel-control.right img {
    margin-top: 350px;
  }
  .float-left {
    width: 20px;
    float: left;
  }
  .float-left .menu-btn {
    width: 25px;
    margin-top: 15px;
    cursor: pointer;
  }
  #overlay {
    position: fixed;
    background: #131313;
    padding: 2em;
    width: 350px;
    height: 100vh;
    z-index: 999;
    display: none;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-box-shadow: 0 5px 10px #000;
            box-shadow: 0 5px 10px #000;
    -webkit-animation: reverse-opacity 5s ase-in-out;
            animation: reverse-opacity 5s ase-in-out;
  }
  #overlay .close-btn {
    float: right;
    width: 22px;
    opacity: 0;
    cursor: pointer;
  }
  #overlay .site-Menu {
    list-style: none;
    font-size: 1.42857em;
    margin: 10% auto 0 auto;
    padding: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (100%)[1];
        grid-template-columns: repeat(1, 100%);
    width: 80%;
  }
  #overlay .site-Menu li {
    opacity: 0;
    margin-top: 8px;
  }
  #overlay .site-Menu a {
    color: #FFFFFF;
  }
  .show-menu {
    display: block !important;
    -webkit-animation: slide-menu .5s ease-in forwards;
            animation: slide-menu .5s ease-in forwards;
  }
  .show-menu .close-btn {
    -webkit-animation: show-x .5s .1s forwards;
            animation: show-x .5s .1s forwards;
  }
  .show-menu li {
    -webkit-animation: menu-item-anim .5s forwards .5s ease-in-out;
            animation: menu-item-anim .5s forwards .5s ease-in-out;
  }
  @-webkit-keyframes slide-menu {
    from {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
    }
    to {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
    }
  }
  @keyframes slide-menu {
    from {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
    }
    to {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
    }
  }
  @-webkit-keyframes show-x {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes show-x {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes reverse-opacity {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes reverse-opacity {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @-webkit-keyframes menu-item-anim {
    from {
      -webkit-transform: translateY(60%);
              transform: translateY(60%);
      opacity: 0;
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes menu-item-anim {
    from {
      -webkit-transform: translateY(60%);
              transform: translateY(60%);
      opacity: 0;
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
}

.page-header {
  margin: 0;
  background: url(../images/pk-green-1-01.svg) no-repeat;
  background-size: 100%;
  min-height: 200px;
}

.page-header .page-title {
  font-family: 'rubikmedium';
  max-width: 400px;
  color: #FFFFFF;
  text-transform: lowercase;
  margin-top: 2.14286em;
}

.two_way-order .thumbnail {
  border: none;
  text-align: center;
}

.two_way-order .thumbnail img {
  height: 60px;
}

.two_way-order .thumbnail .caption h4 {
  color: #23D16A;
}

.two_way-order .thumbnail .subsciption {
  font-family: 'rubikmedium';
  color: #23D16A;
}

.three_easy-meal img {
  margin-top: -100px;
}

.three_easy_meal_options .media {
  margin-top: 1.07143em;
  margin-bottom: 2.14286em;
}

.three_easy_meal_options .media-left {
  vertical-align: top;
}

.three_easy_meal_options .btn {
  margin-top: -15px;
}

.delivery_pickup {
  color: #FFFFFF;
}

.delivery_pickup h2 {
  color: #FFFFFF;
}

.delivery_pickup dt {
  font-size: 1.57143em;
}

.delivery_pickup dd {
  margin-bottom: 30px;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1420px;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .making_delivery_convenient___simple_ .H-icons-block .H-icons img {
    width: 20px;
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .making_delivery_convenient___simple_ .H-icons-block .H-icons img {
    width: 10px;
    margin-bottom: 15px;
  }
}
/*# sourceMappingURL=main.css.map */