@import url(../fonts/fontsFace.css);
$colors: ( primary:#23D16A, dark-Primary: #42B564, darkPrimary-dark: darken(#23D16A, 30%), offWhite:#F5F5F5, peachColor: #B7B7B7, skinColor: #EAAD7F, dark-fontColor: #464646, light-gray: #F4F4F4, light-fontColor: #777777, whiteColor: #FFFFFF, bg-color: darken( #464646, 20%), btn-submit: #A8A8A8);
@function color($color-name) {
    @return map-get($colors, $color-name)
}


/* ========= MIXINS ========= */

@mixin transition {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}


/* ======= END Mixins ======= */


/*font size & line height in px */

$font-size-body-px: 16;
$line-height-px: 21;

/* calculate font-size (in %) and line-height (in em) */

$font-size-body: pc($font-size-body-px, 16);
$line-height: em($line-height-px, $font-size-body-px);
// Reset the global font size to the given value.
// Helpful if the font size should change at different responsive breakpoints.
//
// @param integer new global font size in px
// @return string new font size var and stylesheet for body
@mixin refont($px) {
    $font-size-body-px: $px;
    $font-size-body: $font-size-body-px / 16 * 100%;
    body {
        font-size: $font-size-body;
    }
}

// Calculates em so it could be used everywhere.
//
// @param integer (font) size in pixel
// @param integer reference font-size in pixel
// @return string em
@function em($px: $line-height-px, $font-size: $font-size-body-px) {
    @return $px / $font-size * 1em;
}

// Calculates rem so it could be used everywhere.
//
// @param integer font size in pixel
// @param integer reference size (for rem always font-size of body) in pixel
// @return string rem
@function rem($px: $line-height-px, $font-size: $font-size-body-px) {
    @return $px / $font-size * 1rem;
}

// Calculates percent so it could be used everywhere.
//
// @param integer size in pixel
// @param integer reference size in pixel
// @return string em
@function pc($px: $line-height-px, $standard: $font-size-body-px) {
    @return $px / $standard * 100%;
}

// Creates the font size in %
//
// @param integer font size in px
// @param integer font-size of parent element in px (if empty than it's the global font size)
// @return string css font-size with calculated % value
@mixin font-size($px, $standard: $font-size-body-px) {
    font-size: pc($px, $standard);
}

// Creates the line height in em
//
// @param integer font size in pixel
// @param integer line-height in pixel
// @return string line height
@mixin line-height($line-height: $line-height-px, $font-size: $font-size-body-px) {
    line-height: em($line-height, $font-size);
}

//
//  MEDIA QUERIES
//––––––––––––––––––––––––––––––––––––––––––––––––––
// A map of breakpoints.
$breakpoints: ( xs: 576px, sm: 768px, md: 992px, lg: 1200px, xlg: 1400px);
//
//  RESPOND ABOVE
//––––––––––––––––––––––––––––––––––––––––––––––––––
// @include respond-above(sm) {}
@mixin respond-above($breakpoint) {
    // If the breakpoint exists in the map.
    @if map-has-key($breakpoints, $breakpoint) {
        // Get the breakpoint value.
        $breakpoint-value: map-get($breakpoints, $breakpoint);
        // Write the media query.
        @media (min-width: $breakpoint-value) {
            @content;
        }
        // If the breakpoint doesn't exist in the map.
    }
    @else {
        // Log a warning.
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}

//
//  RESPOND BELOW
//––––––––––––––––––––––––––––––––––––––––––––––––––
// @include respond-below(sm) {}
@mixin respond-below($breakpoint) {
    // If the breakpoint exists in the map.
    @if map-has-key($breakpoints, $breakpoint) {
        // Get the breakpoint value.
        $breakpoint-value: map-get($breakpoints, $breakpoint);
        // Write the media query.
        @media (max-width: ($breakpoint-value - 1)) {
            @content;
        }
        // If the breakpoint doesn't exist in the map.
    }
    @else {
        // Log a warning.
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}

//
//  RESPOND BETWEEN
//––––––––––––––––––––––––––––––––––––––––––––––––––
// @include respond-between(sm, md) {}
@mixin respond-between($lower, $upper) {
    // If both the lower and upper breakpoints exist in the map.
    @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {
        // Get the lower and upper breakpoints.
        $lower-breakpoint: map-get($breakpoints, $lower);
        $upper-breakpoint: map-get($breakpoints, $upper);
        // Write the media query.
        @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
            @content;
        }
        // If one or both of the breakpoints don't exist.
    }
    @else {
        // If lower breakpoint is invalid.
        @if (map-has-key($breakpoints, $lower)==false) {
            // Log a warning.
            @warn 'Your lower breakpoint was invalid: #{$lower}.';
        }
        // If upper breakpoint is invalid.
        @if (map-has-key($breakpoints, $upper)==false) {
            // Log a warning.
            @warn 'Your upper breakpoint was invalid: #{$upper}.';
        }
    }
}

* {
    box-sizing: border-box;
}

body,
html {
    font-size: 16px;
}


    body {
        font-family: 'rubiklight';
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        padding: 0;
        margin: 0;
        text-transform: lowercase;
        color: map-get($colors, light-fontColor);
    }
    .header-hero {
        background-color: map-get($colors, primary);
        background-image: url(../images/header.png);
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100%;
        height: calc(100vh - 50px);
        text-transform: lowercase;
        font-family: 'rubikmedium';
        position: relative;
        .header-hero-contentBlock {
            max-width: 500px;
            position: absolute;
            bottom: 10%;
            left: 20%;
            transform: translateX(-20%);
            .subheading {
                font-family: 'rubikregular';
                color: map-get($colors, whiteColor);
                margin-bottom: em(16);
                display: block;
            }
            h1 {
                font-size: em(40);
                font-family: 'rubikmedium';
                color: map-get($colors, whiteColor);
                margin-top: 0;
                font-weight: normal;
            }
            .action-block {
                overflow: hidden;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .reviews {
                font-size: rem(24);
                color: map-get($colors, darkPrimary-dark);
                border-bottom: 4px solid map-get($colors, darkPrimary-dark);
                .stars {
                    font-size: 12px;
                    img {
                        font-size: 12px;
                        height: 20px;
                        vertical-align: top;
                    }
                }
            }
        }
        .new-Alert {
            position: absolute;
            right: 20px;
            bottom: 20px;
            width: 350px;
            background-color: map-get($colors, whiteColor);
            border-radius: 0px 50px 50px 50px;
            padding: 5px;
            box-shadow: 1px 3px 2px map-get($colors, dark-Primary);
            .title {
                color: map-get($colors, dark-Primary);
                font-size: em(18);
            }
            p {
                padding: 5px 20px 5px 30px;
                font-size: em(16);
                font-family: 'rubiklight';
            }
        }
    }
    .btn {
        border: 1px solid transparent;
        font-size: rem(16);
        min-width: 150px;
    }
    .btn-white {
        border-radius: 50px;
        background-color: map-get($colors, whiteColor);
        color: map-get($colors, primary);
        padding: 15px 20px;
        border: none;
    }
    .btn-grey {
        border-radius: 50px;
        background-color: map-get($colors, btn-submit);
        color: map-get($colors, whiteColor);
        border: none;
    }
    .btn-lightGrey {
        border-radius: 50px;
        background-color: map-get($colors, light-gray);
        color: map-get($colors, dark-fontColor);
        border: none;
    }
    .btn-darkGrey {
        border-radius: 50px;
        background-color: map-get($colors, dark-fontColor);
        color: map-get($colors, whiteColor);
        border: none;
        &:hover {
            color: map-get($colors, whiteColor);
        }
    }
    .navbar-toggle {
        float: left;
        content: 'f0c9';
    }
    .nav-container {
        text-align: center;
        background: #F5F5F5;
        overflow: hidden;
        margin-right: -15px;
        margin-left: -15px;
        #logo {
            width: calc(100% - 50px);
            float: left;
            text-align: center;
            padding:7px;
            img {
                width: 100px;
                transform: translateX(-50px);
                margin: 6px auto;
            }
        }
        #top-right {
            float: right;
            // position: absolute;
            // right: 0;
            margin-top:5px;
            .search-icon {
                float: left;
                cursor: pointer;
                svg {
                    width: 28px;
                    margin-top: 16px;
                    margin-right: 7px;
                    .a {
                        fill: #707070;
                    }
                }
            }
            .btn_group {
                float: left;
                .btn-black {
                    background-color: map-get($colors, dark-fontColor);
                    color: map-get($colors, whiteColor);
                    a {color: map-get($colors , whiteColor );}
                }
            }
            .cart-item {
                float: right;
                padding: 15px;
                margin-right: 10px;
                position: relative;
                cursor: pointer;
                .badge {
                    background: map-get($colors, primary);
                    position: absolute;
                    right: 0;
                    top: 7px;
                }
                svg {
                    width: 24px;
                    .a {
                        fill: #b2b2b2;
                    }
                }
            }
        }
    }
    section {
        margin-top: em(40);
        height: auto;
        clear: both;
    }
    .section_content {
        width: 60%;
        margin: em(30) auto em(60);
        line-height: em(22);

        text-align: center;
        font-family: 'rubiklight';
        font-style: normal;
        font-weight: lighter;
        font-size: em(18);
        color: map-get($colors, light-fontColor);
        letter-spacing: -0.2px;
    }
    .sub-heading {
        font-family: 'rubikmedium';
        font-size: em(35);
        margin-bottom: em(10);
        color: map-get($colors, dark-fontColor);
        text-transform: lowercase;
    }
    .media-middle img {
        width: 75px;
        margin-right: 15px;
    }
    .making_delivery_convenient___simple_ {
        text-transform: lowercase;
        font-size: em(16);
        .section-heading {
            @extend .sub-heading;
            text-align: left;
        }
        .H-icons-block {
            overflow: hidden;
            .H-icons {
                width: 100px;
                min-height: 100px;
                margin: 0 15px;
                float: left;
                text-align: center;
                img {
                    width: 50px;
                    margin-bottom: 15px;
                }
                p {
                    padding: 0;
                }
            }
        }
    }
    .green_text {
        color: map-get($colors, primary);
        margin: em(20) 0;
        font-size: em(16);
    }
    .review_heading {
        color: map-get($colors, dark-fontColor);
        font-weight: bold;
        border-bottom: 2px solid map-get($colors, darkPrimary-dark);
        margin-bottom: 15px;
        .review_button_control {
            float: right;
            button {
                background: none;
                border: none;
            }
        }
    }
    .review_block-container {
        width: 100%;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
        .review_block {
            display: inline-block;
            width: 273px;
            &:before {
                content: attr(data-before);
                position: absolute;
                margin-left: -90px;
                margin-top: 2px;
                font-size: em(12);
            }
            .review_star img {
                height: 15px;
            }
            .review_text {
                font-style: italic;
                font-style: em(16);
                margin: 10px 0;
            }
            .review_author {
                font-weight: bold;
            }
        }
    }
    .delivery_option {
        background: url(../images/pk-1-01.svg);
        background-size: 100%;
        overflow: hidden;
        .bg {
            width: 100%;
            position: absolute;
            left: 0;
            img {
                width: 100%;
            }
        }
        .delivery_option-content {
            position: relative;
        }
        .delivery_option-heading {
            text-align: center;
            padding-top: em(20);
            padding-bottom: em(20);
            h2 {
                color: map-get($colors, primary);
                font-size: em(30);
            }
            p {
                font-size: em(20);
            }
        }
        .thumbnail {
            position: relative;
            background: none;
            border: none;
            .caption {
                color: map-get($colors, whiteColor);
                h3 {
                    width: 200px;
                    left: 50%;
                    transform: translateX(-50%);
                    position: absolute;
                    z-index: 1;
                    margin-top: -150px;
                    color: map-get($colors, whiteColor);
                    font-size: em(30);
                    text-align: center;
                    font-weight: bold;
                }
            }
        }
    }
    .btn {
        border-radius: 25px;
        padding: 10px;
        margin: 5px 7px;
        &.active {
            background-color: map-get($colors, primary);
        }
    }
    .btn-green {
        background-color: map-get($colors, primary);
        color: map-get($colors, whiteColor);
        a {
            color: map-get($colors, whiteColor)
        }
        &:hover {
            color: map-get($colors, whiteColor)
        }
    }
  
   
    .subscribe_block {
        margin: em(50) 0;
        padding: em(15) 0;
        background-color: map-get($colors, light-gray);
        text-align: center;
        font-size: em(16);
        .btn {
            font-size: em(16);
            padding-left: 25px;
            padding-right: 25px;
        }
    }
    .what_popular {
        margin-top: em(40);
        .thumbnail {
            border: none;
        }
        h3 {
            font-size: em(16);
            margin-top: em(5);
            margin-bottom: em(5);
            min-height: em(40);
        }
    }
    .newsletter_block {
        @extend .subscribe_block;
        background-color: map-get($colors, primary);
        color: map-get($colors, whiteColor);
        margin-top: 15px;
        margin-bottom: 15px;
        .label {
            font-weight: normal;
        }
        .form-control {
            width: 300px;
            margin-left: em(10);
            border-radius: 23px;
            background-color: map-get($colors, white);
            border: 1px solid transparent;
        }
        img {
            width: 28px;
        }
    }
    footer {
        h3 {
            color: map-get($colors, primary);
            font-weight: bold;
        }
        .faq_label {
            color: map-get($colors, primary);
            margin-top: 5px;
        }
        .social_media {
            img {
                height: 24px;
                margin: 0 15px 0 0;
            }
        }
        .instagram_block {
            img {
                width: 200px;
            }
        }
        ul {
            list-style: none;
            padding: 0;
            a {
                color: map-get($colors, light-fontColor);
            }
        }
        .copyright {
            background: map-get($colors, dark-fontColor);
            color: map-get($colors, whiteColor);
            padding: 15px;
        }
    }
    // Bootstrap Update
    .caret {
        border: none;
 
         &:after {
             content: ' \002B';
             margin-top: -10px;
             margin-left: -5px;
            position: absolute;
         }
     }
    .navbar-default .navbar-toggle {
        border:none;
        margin-top: 16px;

        .icon-bar {
            background-color: map-get($colors , primary );
        }
        &:hover, &:focus{
            background-color:transparent;
        }

}
.navbar-header .navbar_mene_text {
    position: absolute;
    margin-left: 28px;
    margin-top: -16px;
    color: map-get($colors , primary );
}
   

    .navbar-default .navbar-nav>.open>a, 
    .navbar-default .navbar-nav>.open>a:focus, 
    .navbar-default .navbar-nav>.open>a:hover {
        background-color: #fff;
        border-bottom: 1px solid map-get($colors , primary );
        color: map-get($colors , primary );
    }
    .navbar>.container .navbar-brand, 
    .navbar>.container-fluid .navbar-brand {
        margin-top:50px;
        margin-left: 15px;
    }

    .dropdown-menu>li.show>a {
        color: map-get($colors , primary );
    }
   
    .nav>li>a {
        padding-left:10px;
        padding-right:10px;
    }
    .navbar-nav {
        float: right;
        text-transform: capitalize;
        font-family: 'rubikregular';
    }
    .navbar-default .navbar-nav>li>a {
        color: map-get($colors , dark-fontColor );
    }
    .navbar-brand{
        padding: 5px;
        height: auto;
        img{
            width: 150px;
        }
    }
    .navbar {
        margin: 0;
    }
    .navbar-default {
        background: map-get($colors , whiteColor);
        border: transparent;
        
    }

    .sticky {
        position: fixed;
        z-index: 9999;
        top: 0;
        width: 100%;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
      }
      .search-wrapper{
        //   position: absolute;
          top: 0;
          width: 100%;
          background: map-get($colors , dark-Primary);
          padding:5px;
          display: none;
          color: map-get($colors , whiteColor );
          @include transition;

          .search-bar {
              width: 80%;
              margin: 0 auto;
            .icon-wrapper, 
            .form-group, 
            .button-wrapper {
                float: left;
                margin: 5px;
            }
            
            .icon-close {
               cursor: pointer;
                img {
                    width: 20px;
                }
            }
            .icon-search img{
                width: 25px;
            }
            .form-group {
                width: 80%;
                ::placeholder{
                    color: map-get($colors , whiteColor );
                  }
    
                  .search_input {
                      width: 100%;
                      border:none;
                      background: none;
                      color: map-get($colors , whiteColor );
                      border-bottom:2px solid map-get($colors , primary );
                      font-size: em(20);
    
                      
                      &:focus {
                          outline: none;
                         
                      }
    
                 
                  }
            }
           
          }
      }
    .media-body,
    .media-left,
    .media-right {
        vertical-align: middle;
        color: map-get($colors, dark-fontColor);
        .media-heading {
            font-size: em(24);
        }
        p {
            font-size: em(15);
        }
    }
    #carousel-example-generic {
        margin-top: -100px;
    }
    .carousel-control {
        color: map-get($colors, primary);
    }
    .carousel-control.left,
    .carousel-control.right {
        // background: transparent;
        background-image: none;
        img {
            margin-top: 350px;
        }
    }
    .panel-default>.panel-heading {
        background: #E8E8E8;
    }
    .nav-tabs {
        border: none;
        margin-bottom: em(50);
    }
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover {
        background: map-get($colors, primary);
        color: map-get($colors, whiteColor);
    }
    .nav-tabs>li {
        width: 25%;
        text-align: center;
    }
    .nav-tabs>li>a {
        background: map-get($colors, light-gray);
        color: map-get($colors, dark-fontColor);
    }
    /* End Bootstrp */
    // Slide Menu
    .float-left {
        float: left;
        .menu-btn {
            margin-top: 15px;
            display: block;
           
            cursor: pointer;

            img{
                width: 38px;
                padding:5px;
            }
         
           
        }
    }

    .sidenav {
        height: 100%; 
        width:0;
        position: fixed; 
        z-index: 999999; 
        top: 0; 
        left: 0;
        
        background-color: #2d2d2d;
        overflow-x: hidden; 
        padding-top: 60px; 
        transition: width 0.5s; 
        box-shadow: 0 5px 10px #000;

          .site-Menu {
            ul{
                list-style: none;
                font-size: em(14);
                margin: 0 auto 0 auto;
                padding: 0;

                
                li {
                    padding: 0 10px;
                    margin-top: 8px;
                    text-transform: capitalize;
                }
                a {
                    color: map-get($colors, offWhite);
                    display: block;
                }
          
            }  
          }
        }
             
      #main {
        transition: margin-left .5s;
      }
      
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 14px;}
      }
      .closebtn {
        position: absolute;
        border:none;
        background: none;
        top: 0;
        margin-top:0;
        margin-right:5px;
        z-index: 9;
        right: 0px;
        padding: 0;
        font-size: 36px;
        margin-left: 50px;
        color: map-get($colors , primary );

        &:hover {
            background: none!important;
            text-decoration: none;
        }
      }
      

// End Slide Menu
.page-header {
    margin: 0;
    background: url(../images/pk-green-1-01.svg) no-repeat;
    background-size: 100%;
    min-height: 200px;
    .page-title {
        font-family: 'rubikmedium';
        color: map-get($colors, whiteColor);
        text-transform: lowercase;
        margin-top: em(30);
    }
}

.two_way-order {
    .thumbnail {
        border: none;
        text-align: center;
        img {
            height: 60px;
        }
        .caption {
            h4 {
                color: map-get($colors, primary);
            }
        }
        .subsciption {
            font-family: 'rubikmedium';
            color: map-get($colors, primary);
        }
    }
}

.three_easy-meal {
    img {
        margin-top: -100px;
    }
}

.section-heading {
    @extend .sub-heading;
}

.three_easy_meal_options {
    .media {
        margin-top: em(15);
        margin-bottom: em(30);
    }
    .media-left {
        vertical-align: top;
    }
    .btn {
        margin-top: -15px;
    }
}

.delivery_pickup {
    color: map-get($colors, whiteColor);
    h2 {
        @extend .sub-heading;
        color: map-get($colors, whiteColor);
    }
    dt {
        font-size: em(22);
    }
    dd {
        margin-bottom: 30px;
    }
}

// 
.author_name {
    @extend .sub-heading;
    color: map-get($colors, primary);
    margin-bottom: 0;
}

.author_speciality {
    font-size: em(20);
    color: map-get($colors, primary);
}

.author_img {
    width: 80%;
    margin: 0 auto;
}

.coaching_plan {
    .thumbnail {
        border: none;
        max-width: 300px;
        .thumbnail_container {
            background: url(../images/pk-green-1-01.svg) no-repeat;
            background-size: cover;
            color: map-get($colors, whiteColor);
            text-align: center;
            margin-bottom: 5px;
            img {
                margin-top: 10px;
            }
            .caption {
                color: map-get($colors, whiteColor);
                text-align: center;
                font-size: em(18);
                h3 {
                    font-weight: 800;
                    font-size: em(14);
                }
            }
            .badge {
                font-size: em(30);
                background: transparent;
            }
        }
    }
}

.heading_3 {
    @extend .author_speciality;
}

.faq {
    h3 {
        font-family: 'rubikmedium';
    }
    .panel-default {
        border: none;
        box-shadow: none;
    }
    .panel-title i {
        float: right;
        font-weight: 100;
        font-size: em(12);
    }
    // .panel-heading.active {
    //   background-color: map-get($colors , primary);
    // }
    .faq_about {
        .panel-heading.active {
            background-color: map-get($colors, primary);
        }
        .panel-heading.active a {
            color: map-get($colors, whiteColor);
        }
    }
    .form-control {
        margin-left: em(10);
        border-radius: 23px;
        background-color: map-get($colors, white);
    }
}

.prduct_container {
    position: relative;
    margin-bottom: 20px;
   
    .product_image {
        position: relative;

        .p_qty {
            position: absolute;
            bottom: -1px;
            width: 100%;
            text-align: center;
            background: rgba(255,255,255,.5);
            padding: 10px;
            opacity: 0;
          
            @include transition;

           .buttons_added, 
           .cart_icon {
                display: inline-block;
                margin: 0 10px;
                img{
                    width: 28px;
                    cursor: pointer;
                }
            }
            .quantity.buttons_added .minus, 
            .quantity.buttons_added .plus,
            .quantity .input-text.qty {
                border:1px solid #cbcbcb;
                color: map-get($colors , dark-fontColor);
            }
        }
    }
    &:hover .p_qty{
        opacity: 1;
       
    }
    .product_desc {
        text-align: center;
        margin-top: 5px;
    }
    .price {
        text-align: center;
        font-family: 'rubikmedium';
    }
    .product_expand {

        text-align: right;
        .p_plus {
            width: 20px;
            height: 20px;
            background-color: map-get($colors, primary);
            color: map-get($colors, whiteColor);
            padding: 0 5px;
            border-radius: 25px;
            cursor: pointer;
            position: absolute;
            margin-top: -33px;
            margin-right: px;
            right: 5px;
            z-index: 999;

        }
        .product_expand_data {
            background-color: map-get($colors, primary);
            color: map-get($colors, whiteColor);
            border-radius: 25px;
            position: absolute;
            right: 0;
            padding: 0 10px;
            transition: width 2s ease-in-out;
            bottom: 13px;
            right: 27px;
            z-index: 9;
            a {
                color: map-get($colors, whiteColor);
                font-size: em(14);
                margin: 2px;
            }
        }
        .expand {
            display: none;
        }

    }
}
.column {
    display: none; /* Hide columns by default */
  }
  .show {
    display: block;
  }
  .moreTab {
      display: none;
  }

// Product Detail
.product_detail {
    .product_image {
       // position: relative;

        .brandLogoBg {
            background: url(../images/tpk_logo_transparent_04.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x: -78px;
            background-position-y: -50px;
            width: 500px;
            height: 500px;
            img {
            
                width: 400px;
                position: absolute;
                margin-top: 120px;
            }
        }
    }
    .product_detail_price {
        .p_green_text {
            color: map-get($colors , primary );
        }
        .p_sku_block {
            margin-top: em(20);
            .skuName { 
                font-family: 'rubikmedium';
                font-size: em(30);
            }
            .title {
                @extend .skuName;
                font-family: 'rubikregular';
            }
            .price {
                @extend .skuName;
                margin-top: em(20);
                margin-bottom: em(10);
            }
        }

        .shortDescription {
            font-size: em(14);
        }
        .more_items {
            list-style: none;
            margin: 0 auto;
            padding:0;
            img {
                width: 50px;
                margin-right:20px;
            }
        }

        .product_qty {
            margin-top: em(20);
            margin-bottom: em(20);
            overflow: hidden;
            
            .quantity.buttons_added .minus, 
            .quantity.buttons_added .plus {
                padding:10px 15px;
                height: 45px;
            }
            .quantity .input-text.qty {
                height: 45px;
                width: 100px;
                background: map-get($colors , light-gray )
            }
        }
        .not_include {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .panel-default > .panel-heading {
            background: none;
           
          
        }
        .panel-default {
            border:none;
        }
        .panel-title {
            font-size: em(24);
            color: map-get($colors , primary );
            .glyphicon {
                font-size: 16px;
            }
        }
    }
    
}

// End Product detail

.steps {
    margin-bottom: em(50);
    .active {
        color: map-get($colors, primary)
    }
}

.Join_from {
    max-width: 340px;
    margin: em(20) auto;
    text-align: center;
    .form-control {
        border-color: map-get($colors, primary);
        border-radius: 0;
    }
}

.green_heading3 {
    @extend .sub-heading;
    color: map-get($colors, primary);
    margin-bottom: 10px;
}

.plan_card {
    background: map-get($colors, primary);
    border-radius: 25px;
    padding: 10px;
    color: map-get($colors, whiteColor);
    text-align: center;
    margin-bottom: em(40);
    @include transition;
    .plan_card-title {
        h3 {
            font-family: 'rubikmedium';
            font-size: em(30);
            small {
                display: block;
                color: map-get($colors, whiteColor);
                text-transform: uppercase;
                letter-spacing: 5px;
            }
        }
    }
    .div_card-text {
        padding: 15px;
    }
    &:hover {
        margin-top: -5px;
    }
}

.page_heading {
    margin-bottom: 20px;
}

.choose_category {
    list-style: none;
    margin-top: em(5);
    margin-bottom: em(30);
    li {
        display: inline;
        font-size: em(18);
        a {
            color: map-get($colors, light-fontColor);
            margin: 5px 10px;
            &.active {
                color: map-get($colors, primary);
            }
        }
    }
}

#cartItem {
    background: map-get($colors, primary);
    position: fixed;
    z-index: 1;
    width: 100%;
    bottom: 0;
    color: map-get($colors, whiteColor);
    @include transition;
    display: none;
    padding: 15px;
    label {
        font-size: em(18);
        font-weight: bold;
    }
    .form-group {
        margin-top: 5px;
    }
    .form-group .btn {
        margin-top: -5px;
        margin-bottom: 0;
        vertical-align: top;
    }
    .form-control {
        color: map-get($colors, primary);
        font-size: em(18);
        width: 80px;
        border-radius: 0;
        padding: 2px;
        height: 25px;
    }
}

.product_card {
    border: 3px solid map-get($colors, primary);
    clear: both;
    text-transform: capitalize;
    margin-bottom: 20px;
    .product_image img {
        width: 100%;
        margin: 0 auto;
    }
    .product_option {
        display: inline-block;
        width: 100%;
    }
    .product_amount,
    .product_qty,
    .product_price {
        // overflow: hidden;
        clear: left;
        padding-top: 10px;
    }
    .product_amount label,
    .product_qty label {
        padding-top: 8px;
        font-size: em(13);
    }
    .product_price {
        label {
            padding-top: 8px;
            font-size: em(16);
        }
        .btn {
            min-width: 80px;
            padding: 5px;
        }
    }
    .quantity {
        text-align: center;
    }
    .product_price {
        border-top: 1px solid #ccc;
    }
}


/* -- quantity box -- */

.quantity {
    display: inline-block;
}

.quantity .input-text.qty {
    width: 35px;
    height: 30px;
    padding: 0 5px;
    margin: 0 -3px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #efefef;
}

.quantity.buttons_added {
    position: relative;
    white-space: nowrap;
    vertical-align: top;
}

.quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
    padding: 2px 10px 2px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #efefef;
    cursor: pointer;
}

.quantity.buttons_added .minus {
    border-right: 0;
}

.quantity.buttons_added .plus {
    border-left: 0;
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
    background: #eeeeee;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
    outline: none;
}


/* -- custom select box -- */

.custom-select {
    position: relative;
}

.custom-select select {
    display: none;
    /*hide original SELECT element: */
}

.select-selected {
    background-color: map-get($colors, whiteColor);
    color: map-get($colors, dark-fontColor);
}


/* Style the arrow inside the select element: */

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: map-get($colors, dark-fontColor) transparent transparent transparent;
}


/* Point the arrow upwards when the select box is open (active): */

.select-selected.select-arrow-active:after {
    border-color: transparent transparent map-get($colors, dark-fontColor) transparent;
    top: 7px;
}


/* style the items (options), including the selected item: */

.select-items div,
.select-selected {
    color: map-get($colors, dark-fontColor);
    padding: 8px 5px;
    border: 1px solid transparent;
    border-color: map-get($colors, light-gray);
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
}


/* Style items (options): */

.select-items {
    position: absolute;
    background-color: map-get($colors, offWhite);
    color: map-get($colors, dark-fontColor);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}


/* Hide the items when the select box is closed: */

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}


/* -- End Custom Select box -- */

.calender {
    margin-top: em(30);
    .btn-grey::placeholder {
        color: map-get($colors, whiteColor);
    }
    .error {
        position: relative;
        input {
            border: 1px solid red;
        }
        &::after {
            content: attr(data-after);
            position: absolute;
            color: red;
            font-size: 12px;
            left: 65px;
            top: 36px;
        }
    }
    input:focus {
        background: map-get($colors, primary);
    }
}

.ui-widget.ui-widget-content {
    border: 3px solid map-get($colors, primary)!important;
    border-radius: 13px;
}

.local_delivery {
    margin-top: em(40);
}

.my_account {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li a {
            color: map-get($colors, light-fontColor);
        }
    }
}

.subscribe_plan {
    h3 {
        margin-top: 0;
    }
    .deliveryStatus {
        margin-top: em(40);
        color: map-get($colors, primary);
        p {
            margin: 0;
        }
    }
    &:after {
        border-right: 1px solid #ccc;
        content: '';
        position: absolute;
        height: 100%;
        top: 0;
        right: 5%;
    }
}

.shipments_plan {
    h3 {
        margin-top: 0;
    }
    li{
        text-transform: capitalize;
    }
}

.processed {
    .day_tab {
        background: map-get($colors, light-gray);
        padding: 5px;
        position: relative;
        margin-bottom: 15px;
        text-align: center;
        .day {
            text-align: center;
            text-transform: capitalize;
        }
        .date {
            color: map-get($colors, primary);
        }
    }
    .image {
        float: left;
        width: 50%;
        img {
            width: 100%;
        }
    }
    .detail {
        width: 50%;
        float: left;
        font-size: 15px;
        ul {
            list-style: none;
            margin: 0;
            padding: 0 0 0 10px;
            span {
                color: map-get($colors, dark-fontColor);
            }
        }
    }
    a {
        color: map-get($colors, light-fontColor)
    }
}

.skipOrder {
    @extend .processed;
    .day_tab {
        background: map-get($colors, primary);
        .day,
        .date {
            color: map-get($colors, whiteColor);
        }
    }
    .detail ul span {
        color: map-get($colors, primary);
    }
}

.unSkipOrder {
    @extend .processed;
    .detail ul span {
        color: map-get($colors, primary);
    }
}

.border_break {
    background: map-get($colors, light-gray);
    height: 1px;
    width: 100%;
    display: block;
    margin: em(50) 0;
}

.show_more {
    margin-top: 15px;
    a {
        color: map-get($colors, primary);
    }
}

.reward {
    h2 {
        border-bottom: 1px solid #ccc;
    }
    h3 {
        text-transform: capitalize;
        margin-bottom: 16px;
    }
}

.order_history {
    @extend .reward;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        &:after {
            border-right: 1px solid #ccc;
            content: '';
            position: absolute;
            height: 100%;
            top: 0;
            right: 5%;
        }
    }
}

// Subscription

.S_img_block {
    width: 450px;
    margin: 0 auto;
    .img {
        text-align: center;
    }
    .img_2 {
        position: absolute;
        width: 450px;
        height: 300px;
        left: 140px;
        top: 200px;
        z-index: 2;
        img {
            width: 100%;
        }
    }
    .img_3 {
        width: 350px;
       @extend .img_2;
       left: -90px;
       top: 150px;
       transform: rotate(45deg);
    }
}
.simple_recurring_meal {
    background: map-get($colors , primary );
    color: map-get($colors , whiteColor );
    padding: em(15);

    h2{
        @extend .sub-heading;
        color: map-get($colors, whiteColor );
    }


    .simple_recurring_meal_steps {
        list-style: none;
        margin:0 auto;
        padding:0;

        li{
            float: left;
            width:150px;
            margin-right: 8px;
            span{ 
                // height: 50px;
                display: block;
                font-size: em(55);
                text-decoration: underline;
            }
            p{
               font-size: em(14);
            }
        }

    }
}

// Rewards
.how_it_works {
 list-style: none;
 counter-reset: section;
 margin-top: em(15);
 overflow: hidden;

 li {
     width: 30%;
     min-height: 100px;
     position: relative;
     padding-top: 70px;
     float: left;
   

     &:before {
        border:1px solid map-get($colors , primary);
        padding: 10px 18px;
        border-radius:50%;
        counter-increment: section;
        content: counter(section);
        position: absolute;
        left: 60px;
        margin-top: -60px;
     }

     div {
         font-weight: bold;
         text-transform: uppercase;
         color: map-get($colors, dark-fontColor );
     }
     p {
         font-size: em(12);
     }
 }

}

.card_group {
    list-style: none;
    margin: 0 auto;
    padding:0;
    
    .card {
        float: left;
        width: 25%;
        padding: 15px 15px;
        text-align: center;
        border: 1px solid map-get($colors , light-gray );
        @include transition;
        img{
            width: 40px;
        }

        &:hover {
           box-shadow: 0 0px 5px map-get($colors , primary );
        }

        .card-body {
            .card-title {
                font-family: 'rubikmedium';
                color: map-get($colors , dark-fontColor );
                font-size: em(16);
            }
        }
    }
}

.reward_image {
    position: relative;
    margin-bottom: 20px;
    img {
        width: 100%;
    }
    .reward_caption {
        color: map-get($colors, whiteColor );
        position: absolute;
        max-width: 300px;
        top:150px;
        left: 5%;
        font-size: em(16);
        overflow: hidden;

        h3{
            font-size: em(25);
        }
       
    }
}
.price_table {
    thead{
        th {
            text-transform: uppercase;
            text-align: center;
            color: map-get($colors , dark-fontColor );
            small {
                display: block;
                font-weight: normal;
                text-transform: lowercase;
            }

            &:nth-of-type(1) {
                text-align: left;
            }
        }
    }
    tbody {
        td{
            text-align: center;

            &:nth-of-type(1) {
                text-align: left;
            }
        }
    }
}

.reedam_for_product {
    .slide{
        transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out;
    }
    .slide_control {
        position: relative;
        .w3-display-left ,.w3-display-right   {
            background: none; border: none;
            color: map-get($colors , primary );
            font-size: 24px;
        }
        .w3-display-left { position: absolute; top: 100px;  z-index: 2;}
        .w3-display-right { position: absolute; right: 0; top: 100px; z-index: 2;}
    }
    .r_product_caption {
        padding: 10px;
        text-align: center;
        .r_prodcut_title {
            font-size: em(14);
            font-weight: bold;
        }
        .r_points {
            text-transform: uppercase;
            color: map-get($colors , primary );
            font-weight: bold;
            margin-top: 15px;
            margin-bottom: 10px;
        }
    }
}
.total_points {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: em(25);
    text-transform: uppercase;
    font-family: 'rubikmedium';
    color: map-get($colors, dark-fontColor );
}
.discount_number {
    list-style: none;
    margin:20px 0;
    padding:0;
    li{
       display: inline-block;
       padding: 0 21px;
        position: relative;
        color: map-get($colors , dark-fontColor );
        &:after {
            content: '';
            border-right:1px solid #23D16A;
            height: 80%;
            position: absolute;
            top: 5px;right: -5px;
        }
        &:last-child:after{
            display: none
        }
        span{
            display: block;
            width:100%;
            color: map-get($colors , primary );
            font-size: em(30);
            font-weight: bold;
        }
    } 
}

// slider
.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:0px; margin:10px; }
    .MultiCarousel .leftLst, 
    .MultiCarousel .rightLst { 
        position:absolute; 
        border-radius:50%;
        top:calc(50% - 20px); 

        background: none;
        border: none;
        color: map-get($colors , primary );
        font-size: em(40);
    }
    .MultiCarousel .leftLst { 
        left:0;  
      
    }
    .MultiCarousel .rightLst { 
        right:0; 
      
     }
    
        .MultiCarousel .leftLst.over, 
        .MultiCarousel .rightLst.over { 
            pointer-events: none; 
            background:none; 
            border:0;
            
        color: map-get($colors , dark-fontColor );
             font-size: em(40);
            }

            
// Chat widget Static
.chat_widget{
    position: fixed;
    bottom:10px;
    right: 10px;
}

.only_for_mobile {
    display: none;
}

@include respond-below(xs) {
    .page-header{
        min-height: auto;
    }
    .page-header .page-title {
        margin-top:10px;
    }
    #top-right .btn_group {
        display: none;
    }
}
@include respond-below(sm){
   
    #top-right .btn_group {
        display: none;
    }
    .navbar-brand {
        display: none;
    }
    .only_for_mobile {
        display: block;
        width: 100%;
        text-align: center;
        padding: 0 5px 5px;
        img {
            margin: 0 auto;
        }

    }
    .navbar-collapse {
        height:100%;
        position: fixed;
        left: -250px;
        width: 250px;
        top: 0;
        z-index: 9999;
        background: #fff;
        @include transition;
        box-shadow: 0  9px 50px rgba(35, 209, 106, 0.72);
    }
    .navbar-collapse.in{
        left: 0
    }
    .navbar-nav{
        float: left;
            width: 100%;
    max-height: 500px;
    overflow: auto;

    }
    .search-wrapper .search-bar .form-group {
        width: 70%;
    }
    .header-hero .header-hero-contentBlock{
    bottom: 18%;
    left: 5%;
   }
   .section_content {
       width:100%
   }
   .media-middle img {
       width:54px;
   }
   .making_delivery_convenient___simple_ .H-icons-block .H-icons {
    min-height: 120px;
   }
}



@include respond-above(xlg) {
    .container {
        max-width: 1420px;
        width: 100%;
    }
}

@include respond-above(sm) {
    .making_delivery_convenient___simple_ .H-icons-block .H-icons img {
        width: 80px;
        margin-bottom: 15px;
    }
}
